.order{
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    /* position: relative; */
    
}
.order_loop{
    position: relative;
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
}
.order_id{
    position: absolute;
    top:0;
    right: 20px;
}